name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GIT_TOKEN }}
          user: shubhumre777
          template: classic
          base: header, activity, community, repositories, metadata
          languages: yes
          isocalendar: yes
          achievements: yes
          notable: yes
          stars: yes
          repositories: yes
          followup: yes
          discussions: yes
          pagespeed: yes
