name: GitHub Metrics

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GIT_TOKEN }}
          user: shubhumre777
          template: classic
          languages: yes
          isocalendar: yes
          achievements: yes
          repositories: yes
